.header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 50px;
    transition: transform 0.3s ease;
    position: relative;

    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &-logo {
            font-size: var(--font-large);
        }
    }

    &-top-icon {
        position: absolute;
        top: 10px;
        right: 50px;

        ul {
            display: flex;
            gap: 15px;
        }
    }

    &-category {
        display: flex;
        justify-content: space-between;
        width: 100%;

        ul {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                cursor: pointer;
                font-size: var(--font-small);
            }
        }
    }

    /* 스크롤시 헤더 디자인 */
    &.scrolled {
        position: fixed;
        top: 0;
        border: 2px solid green;


        .header-top {
            border: 1px solid yellow;
            transform: translateY(-100%); // 초기 상태: 위에 살짝 숨겨두기

            &-logo, &-icon {
                transform: translateY(30px); // 위 → 아래로 내려오기
                transition: all 0.3s ease;
            }
        }

        .header-category {
            overflow: hidden; // 움직일 때 안 튀어나오게

            &-left {
                transform: translateX(100px); // 처음 화면 밖으로
                transition: transform 0.3s ease;
            }

            &-right {
                top: 40px;
                transform: translateX(-150px); // 처음 화면 밖으로
                transition: transform 0.3s ease;
            }
        }
    }

    &-top-scrolled {
        border: 2px solid black;
    }

}
