.header {
    width: 100%;
    min-width: 1280px;
    height: 100px;
    margin: 0 auto;
    padding: 10px 50px;
    position: fixed;
    z-index: 10;

    &-top {
        display: flex;
        justify-content: space-between;
    }

    &-top:first-child {
        margin-bottom: 30px;
    }

    &-top-icon {
        position: absolute;
        top: 10px;
        right: 50px;

        ul {
            display: flex;
            gap: 15px;

            li {
                cursor: pointer;
            }
        }
    }

    &-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        ul {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                cursor: pointer;
                font-size: var(--font-large);
                &:hover {
                    font-weight: bold;
                }
            }
        }

        &-right {
            transform: translateX(0);
            transition: transform 0.3s ease;
        }

        &-left {
            transform: translateX(0);
            transition: transform 0.3s ease;
        }
    }



    /* 스크롤시 헤더 디자인 */
    &.scrolled {
        background-color: #fff;
        position: fixed;
        top: 0;
        display: flex;
        height: 70px;

        .header-top {
            transform: translateY(-100%); // 초기 상태: 위에 살짝 숨겨두기
            margin-bottom: 30px;

            &-logo {
                width: 300px;
                transform: translateY(30px); // 위 → 아래로 내려오기
                transition: transform 0.3s ease;
            }

            &-icon {
                margin-bottom: 0;
                transform: translateY(20px); // 위 → 아래로 내려오기
                transition: transform 0.3s ease;
                right: 0;
            }
        }

        .header-category {
            overflow: hidden; // 움직일 때 안 튀어나오게
            margin-right: 240px;
            height: 50px;

            &-left {
                transform: translateX(50px); // 처음 화면 밖으로
                transition: transform 0.3s ease;
            }

            &-right {
                transform: translateX(0px); // 처음 화면 밖으로
                transition: transform 0.3s ease;
            }
        }
    }

}
