@use '../colors' as *;
@use "sass:map";

.main-banner {
    position: relative;

    /* 왼쪽/오른쪽 버튼 기본 스타일 */
    .swiper-button-prev,
    .swiper-button-next {
        color: map.get($color, lightgray);
        opacity: 0;
        transition: opacity 0.3s, color 0.3s;
        pointer-events: auto;       // disabled도 hover 가능하게
    }

    /* 배너 hover 시 버튼 나타나게 */
    &:hover .swiper-button-prev,
    &:hover .swiper-button-next {
        cursor: pointer;
        opacity: 1 !important;     // Swiper 기본값 덮어쓰기
    }

    /* 버튼 hover 시 흰색으로 변경 */
    .swiper-button-prev:hover,
    .swiper-button-next:hover,
    .swiper-button-prev.swiper-button-disabled:hover,
    .swiper-button-next.swiper-button-disabled:hover {
        cursor: pointer;
        color: map.get($color, white) !important;
    }

    /* disabled 상태도 배너 hover 시 보이도록 */
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        opacity: 0;                // 기본 상태에서는 안보이게
        pointer-events: auto;      // 그래도 hover 가능
    }

    &:hover .swiper-button-prev.swiper-button-disabled,
    &:hover .swiper-button-next.swiper-button-disabled {
        opacity: 1 !important;
    }

    .swiper-pagination-bullet {
        color: #fff!important;
        border-radius: 0!important;
        width: 2px;
        height: 10px;

        &-active {
            background-color: map.get($color, lightgray);
        }
    }

}


.main-layout {
    margin: 100px 50px;

    .swiper {
        padding: 20px 0 50px;
    }
    .swiper-wrapper {
        /* 그리드 모드에서 flex-direction을 column으로 강제 */
        flex-wrap: wrap !important;
    }

    .swiper-pagination-progressbar {
        top: auto !important;
        bottom: 0 !important;
        left: 0;
        width: 100%;
        background: #eee;
    }


    .swiper-pagination-progressbar {
        background: #eee;
        height: 1px!important;
    }

    .swiper-pagination-progressbar-fill {
        background: #000!important;
    }



    /* 페이지네이션 전체 위치 조정 */
    :is(.swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-horizontal.swiper-pagination-bullets)
    .swiper-pagination-bullet {
        margin: 0!important;
    }

    .swiper-pagination {
        position: relative;
        bottom: 0; /* Swiper 하단에 고정 */
        width: 100%;
        display: flex;
        margin-top: 50px!important;
        justify-content: space-between;
        align-items: center;
    }

    /* 기본 막대 (비활성 상태) */
    .swiper-pagination-bullet {
        width: 100%!important;
        height: 1px!important;
        background-color: #eee!important;
        border-radius: 0 !important;
        opacity: 1;
        transition: all 0.3s ease;
    }

    /* 활성화된 막대 */
    .swiper-pagination-bullet-active {
        background-color: #000!important; /* 진한 색으로 표시 */
    }

}


