
:root {
  --font-small: 0.875rem;     /* 14px */
  --font-medium: 1rem;        /* 16px */
  --font-large: 1.125rem;     /* 18px */
  --font-extralarge: 2rem;    /* 32px */
  --font-2extralarge: 2.5rem; /* 40px */
}

h1 {
  font-size: var(--font-2extralarge);
}

h2 {
  font-size: var(--font-extralarge);

}

h3 {
  font-size: var(--font-large);
}


/* MO 폰트 사이즈 */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* 모바일 기준 14px */
  }

}