@use '../colors' as *;


.input-pw {
    position: relative;
}

.eyes-icon {
    display: inline-block;
    color: map-get($color, lightgray);
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
}

