// 색상 변수 설정
// 사용방법
// @use '../colors' as *;
// @use "sass:map";
// color: map.get($color, gray);

$color: (
        white: #fff,
        lightgray: #eee,
        gray: #666,
        darkgray: #555,
        black: #333,
        dark: #000000,
        red: #ef4444,
        pointColor: yellow,
);
