// 색상 변수 설정
$color: (
        white: #fff,
        lightgray: #eee,
        gray: #666,
        darkgray: #555,
        black: #333,
        dark: #000000,
        red: #ef4444,
        pointColor: yellow,
);
