@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@import "ui/button";
@import "ui/modal";
@import "ui/switch";

@import "colors";


:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 14px;
}


@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
