@use "tailwindcss/preflight";
@use "tailwindcss/theme";
@use "tailwindcss/utilities";

@use "ui/button";
@use "ui/font";
@use "ui/input";
@use "ui/modal";
@use "ui/switch";

@use "page/boards";
@use "page/login";
@use "page/mypage";

@use "layout/header";
@use "layout/footer";
@use "layout/main";
@use "colors";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.main-children {
    padding: 110px 50px;
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1280px;
}
