
.boards {
    display: flex;
    justify-content: center;
    align-items: center;

    &-layout {
        h1 {
            width: 70%;
            margin: 50px auto 0;

            @media screen and (min-width: 769px) and (max-width: 1024px) {
                width: 90%;
            }

            @media screen and (max-width: 768px) {
                width: 95%;
            }

        }
    }


    &-wrap {
        width: 70%;
        margin: 20px auto;
        padding: 10px;


        @media screen and (min-width: 769px) and (max-width: 1024px) {
            width: 90%;
            border: 1px solid red;
        }

        @media screen and (max-width: 768px) {
            width: 95%;
            margin: auto;
            border: 1px solid blue;
        }


        .content {
            padding: 20px 40px;
            white-space: pre-line;
        }

        h2 {
            border-top: 1px solid #000;
            border-bottom: 1px solid #f0f0f0;
            width: 100%;
            padding: 24px 0;
        }
    }
}