
.board {
    display: flex;
    justify-content: center;
    align-items: center;


    &-wrap {
        margin: 50px 0;
    }

    &-write {
        width: 70%;
        margin: 50px auto;
        padding: 10px;
    }
}