@use '../mixins' as *;


.flex-center {
    @include flex-center;
    height: calc(90vh - 100px);

    .login {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 360px;

        h1 {
            text-align: center;
        }

        .find-info {
            ul {
                display: flex;
                padding-top: 25px;

                li  {
                    width: 50%;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    cursor: pointer;
                }

                li:nth-child(1) {
                    border-right: 1px solid #eee
                }
            }
        }
    }
}
