@use "sass:map";
@use '../colors' as *;
@use '@/styles/ui/font';

.mypage-cont {
    padding: 100px 50px 30px;
}

.layout-left {

    h4 {
        font-size: 22px;
        margin: 0 0 20px;
    }

    ul {
        margin: 0 0 20px;

        li {
            position: relative;
            font-size: font.$font-small;
            margin: 10px 0 10px 10px;
            color: #707070;
            cursor: pointer;

            &:before {
                background-color: #707070;
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                margin-left: -10px;
            }
        }

    }

}

.layout-right {
    flex: 1;

    hr {
        margin: 30px 0;
        height: 2px;
        background: #333;
    }

    .my-page-info {
        ul {
            display: flex;

            li:nth-child(1) {
                flex: 2;
            }

            li {
                flex: 1;

                .title {
                    display: block;
                    font-size: font.$font-small;
                    color: #555;
                }
                .text {
                    font-weight: 600;
                    font-size: font.$font-large;
                    line-height: 30px;
                }

            }
        }
    }
}